{% include 'includes/pages/header.htm' %}

<br>
<h3 class="text-center text-danger">Thank You {{request.user}}</h3>

<div class="container">
  <p class="text-danger fw-bold ">Here is the details of your purchase ✨:</p>

  <div class="table-responsive">
    <table class="table table-border ">
      <thead>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Amount</th>
      </thead>
      <tbody>
        <tr>
          <td>{{product_name}}</td>
          <td>{{product_price}}</td>
          <td>{{product_amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% include 'includes/pages/footer.htm' %}
