{% include 'includes/pages/header.htm' %}
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">New Products</h3>
          {% comment %}
          <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
              <li class="active">
                <a data-toggle="tab" href="#tab1">Laptops</a>
              </li>
              <li><a data-toggle="tab" href="#tab1">Smartphones</a></li>
              <li><a data-toggle="tab" href="#tab1">Cameras</a></li>
              <li><a data-toggle="tab" href="#tab1">Accessories</a></li>
            </ul>
          </div>
          {% endcomment %}
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                <!-- product -->
                {% for p in new_products %}
                <div class="product">
                  <div class="product-img">
                    <img
                      src="{{p.product_first_image.url}}"
                      alt=""
                      class="img-fluid"
                    />
                    <div class="product-label">
                      <span class="sale">
                        {% if p.product_discount %} {{p.product_discount}}%
                      </span>
                      {% endif %}
                      <span class="new"> {% if p.product_is_new %} New </span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="product-body">
                    <p class="product-category">Category</p>
                    <h3 class="product-name">
                      <a href="#">{{p.product_name}}</a>
                    </h3>
                    <h4 class="product-price">
                      {{p.product_price}}
                      <del class="product-old-price">$990.00</del>
                    </h4>

                    <div class="product-btn">
                      <button class="btn btn-success text-white">
                        <a href="{% url 'products_app:show_details' p.slug %}">
                          Quick View</a
                        >
                      </button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <a href="{% url 'products_app:show_details' p.slug %}">
                      <button class="add-to-cart-btn">
                        <i class="fa fa-shopping-cart"></i> add to cart
                      </button>
                    </a>
                  </div>
                </div>
                <!-- /product -->
                {% endfor %}

                <div id="slick-nav-1" class="products-slick-nav"></div>
              </div>
              <!-- /tab -->
            </div>
          </div>
        </div>
        <!-- Products tab & slick -->
      </div>
    </div>
  </div>
  <!-- special products   started  -->
  <br />
  <br />
  <br>
  <!-- Showing those products which are not new  -->
  <div class="container py-5">
    <h1>All Products </h1>
    <div class="row">
      {% for pr in products%}
      <div class="col col-sm-12 col-lg-3 col-md-3">
        <div class="product">
          <div class="product-img">
            <img
              src="{{pr.product_first_image.url}}"
              alt=""
              class="img-fluid"
            />
          </div>
          <div class="product-body">
            <h3 class="product-name">
              <a href="#">{{pr.product_name}}</a>
            </h3>
            <h4 class="product-price">{{pr.product_price}}</h4>

            <div class="product-btn">
              <button class="btn btn-success text-white">
                <a
                  href="{% url 'products_app:show_details' pr.slug %}"
                >
                  Quick View</a
                >
              </button>
            </div>
          </div>
          <div class="add-to-cart">
            <button class="add-to-cart-btn">
              <a href="{% url 'products_app:show_details' pr.slug %}"><i class="fa fa-shopping-cart"></i> add to cart</a>
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{%include 'includes/pages/footer.htm'%}
