{% include 'includes/pages/header.htm' %}
{% load static %}
<!-- SECTION -->

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- Product main img -->
      <div class="col-md-5 col-md-push-2">
        <div id="product-main-img">
          <div class="product-preview">
            <img src="{{ product.product_first_image.url }}" alt="" />
          </div>

          <div class="product-preview">
            <img src="{{ product.product_second_image.url }}" alt="" />
          </div>

          <div class="product-preview">
            <img src="{{ product.product_third_image.url }}" alt="" />
          </div>

          <div class="product-preview">
            <img src="{{ product.product_fourth_image.url }}" alt="" />
          </div> 
        </div>
      </div>
      <!-- /Product main img -->


{% comment %}  this is for the right side of the page slider  {% endcomment %}
      <!-- Product thumb imgs -->
      <div class="col-md-2 col-md-pull-5">
        <div id="product-imgs">
          <div class="product-preview">
            <img src="{{ product.product_first_image.url }}" alt="" />
          </div>

       <div class="product-preview">
            <img src="{{ product.product_second_image.url }}" alt="" />
          </div>

          <div class="product-preview">
            <img src="{{ product.product_third_image.url }}" alt="" />
          </div> 

         <div class="product-preview">
            <img src="{{ product.product_fourth_image.url }}" alt="" />
          </div> 
        </div>
      </div>
      <!-- /Product thumb imgs -->

{% comment %} for showing the user the produt details  {% endcomment %}
      <!-- Product details -->
      <div class="col-md-5">
        <div class="product-details">
          <h2 class="product-name">{{ product.product_name }}</h2>
      
          <div>
            <h3 class="product-price">
              {{ product.product_price }}
            </h3>
          </div>
          <p>
            {{product.product_description}}
          </p>

          

          <div class="add-to-cart">
            <form method="post" action="{% url 'user_cart_app:add_to_cart' %}">
              {% csrf_token %}

            <input type="text" value="{{product.product_name}}" name="product_name" hidden>
            <input type="number" value="{{product.product_price}}" name="product_price" hidden>
            <div class="qty-label">
              Qty
              <div class="input-number">
                <input type="number"name = 'product_amount' value="1" />
                <span class="qty-up">+</span>
                <span class="qty-down">-</span>
              </div>

            </div>
            <!-- <a href = '{% urser_cart_app:"add_to_cart"% product.slu}'></a> -->
            <button class="add-to-cart-btn" type="submit">
              <i class="fa fa-shopping-cart"></i> add to cart
            </button>
          </div>
        </form>



        </div>
      </div>
      <!-- /Product details -->

      {% comment %} THESE COMMNEDTED FOR DESCRIPTION AND DETAILS OF THE PRODUCT   <!-- Product tab -->
      <div class="col-md-12">
        <div id="product-tab">
          <!-- product tab nav -->
          <ul class="tab-nav">
            <li class="active">
              <a data-toggle="tab" href="#tab1">Description</a>
            </li>
            <li><a data-toggle="tab" href="#tab2">Details</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
          </ul>
          <!-- /product tab nav -->

          <!-- product tab content -->
          <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </p>
                </div>
              </div>
            </div>
            <!-- /tab1  -->

            
          </div>
          <!-- /product tab content  -->
        </div>
      </div> {% endcomment %}
      <!-- /product tab -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<!-- jQuery Plugins
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script> -->

{% include 'includes/pages/footer.htm' %}
